<footer>
  <div class="footer-details grid-container">
    <div class="grid-start">
      <span>Suggestions and comments are welcome.<br>Please <a href="https://github.com/openinf/openinf.github.io/issues/new" target="_blank">open an issue</a> in <a href="https://github.com/openinf/openinf.github.io" target="_blank">our site repository</a>.</span>
    </div>
    <div class="grid-end">
      <ul class="pipe-nav">
{%- for file in site.data.community_health_files -%}
        <li>
          <a
            href="{{ site.url }}{{ file.permalink }}"
            aria-label="{{ file.label }}"
            title="{{ file.title }}"
          >
            {{ file.link_text }}
          </a>
        </li>
{%- endfor -%}
      </ul>
      <ul class="connect social-follow">
{%- for venue in site.data.community_venues -%}
        <li>
          <a
            target="_blank"
            href="{{ venue.href }}"
            rel="noopener noreferrer"
            aria-label="{{ venue.description }}"
            title="{{ venue.title }}"
          >
            <span class="sr-only">{{ venue.title }}</span>
            {%- include assets/img/community/{{ venue.id }}.svg -%}
          </a>
        </li>
{%- endfor -%}
      </ul>
    </div>
  </div>
</footer>
