.collab-tools-nav {
  line-height: 0;

  li:not(:first-child) {
    padding-left: 2rem;
  }

  & svg {
    width: 2rem;
    height: 2rem;
    fill: $color-tertiary;
  }

  & a {
    &:hover,
    &:focus {
      & svg {
        fill: $color-secondary;
        transition: all .15s ease;
      }
    }
  }
}
