// Colors
$color-openinf-dark: #AB6700;
$color-primary: #089;
$color-secondary: #77675A;
$color-tertiary: #77675A;
$color-link: #089;
$color-text: #1D1916;
$color-bg: #E9E9E2;
$color-divider: #A7978B;
$color-dim-grayish: #77675A;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 550;

// Spacing
$grid-gutter: 40px;
$spacing-paragraph: 40px;

// Breakpoints
$bp-tablet: 920px;
$bp-desktop: 1200px;

// Tags
$tag-tests: #017e78;
$tag-spec: #AB6700;
$tag-presented: #a63446;
