---
layout: default
---

<main class="docs container">
  <div class="grid">
    <div class="unit four-fifths">
      <article>
        <header class="contentHead">
          {% if page.editable != false %}
          <div class="improve right">
            <a href="https://github.com/openinf/openinf.github.io/edit/HEAD/{{ page.path }}">Edit</a>
          </div>
          {% endif %}
          <h1>{{ page.title }}</h1>
        </header>
        {{ content }}
      </article>
    </div>
  </div>
</main>
